<footer class="flex footer">
    <div>
        <h3>Autor</h3>
        <hr>
        <p>😄João Bonifácio</p>
        <p>💻Programador</p>
        <p>📚Ciências da computação</p>
    </div>
    <div>
        <h3>Contatos</h3>
        <hr>
        <p><a href="https://www.instagram.com/jao_bdk/" target="blank"><i class="fab fa-instagram"></i></a><a href="https://www.linkedin.com/in/jo%C3%A3o-j%C3%BAnior-7499b6218/" target="blank"><i class="fab fa-linkedin"></i></a></p>
        <p><a href="https://github.com/Joao-Bonifacio" target="blank"><i class="fab fa-github"></i></a><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSMTgbpsWbHmjmZpqrzdZsPfcMvsGNRVpqDnjHVjMSpCSLBlPNrZPzCRbCKLsfqsTwFclCpp" target="blank"><i class="far fa-envelope"></i></a></p>
    </div>
</footer>