<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <title>NewsLetter</title>
</head>

<header>
    <h1 class="center"><span style="font-weight: lighter;color: white;">John</span>News</h1>
    <div class="flex head-content">
        <div class="pages">
            <div><a href="/">home</a></div>
            <div><a href="/category">category</a></div>
            <div><a href="/today">today</a></div>
            <div><a href="/contact">contact</a></div>
        </div>
        <div class="mobile"><i class="fas fa-bars"></i></div>
        <div class="search"><i class="fas fa-search"></i><input type="text" placeholder="seach"></div>
    </div>
</header>
<script defer>
    const pages = document.querySelectorAll('.pages > div')
    var dir = location.pathname
    switch (dir) {
        case '/category':
            pages[0].classList.remove('now')
            pages[1].classList.add('now')
            pages[2].classList.remove('now')
            pages[3].classList.remove('now')
            break
        case '/today':
            pages[0].classList.remove('now')
            pages[1].classList.remove('now')
            pages[2].classList.add('now')
            pages[3].classList.remove('now')
            break
        case '/contact':
            pages[0].classList.remove('now')
            pages[1].classList.remove('now')
            pages[2].classList.remove('now')
            pages[3].classList.add('now')
            break
        default:
            pages[0].classList.add('now')
            pages[1].classList.remove('now')
            pages[2].classList.remove('now')
            pages[3].classList.remove('now')
            break;
    }
</script>