<%- include('src/header.html') %>
<body>
    <div class="contact">
        <p><a href="https://www.instagram.com/jao_bdk/" target="blank"><i class="fab fa-instagram" style="color: rgb(158, 56, 158);"></i> - Visitar perfil do instagram</a></p>
        <p><a href="https://www.linkedin.com/in/jo%C3%A3o-j%C3%BAnior-7499b6218/" target="blank"><i class="fab fa-linkedin" style="color: rgb(13, 90, 190);"></i> - Visitar perfil do linkedin</a></p>
        <p><a href="https://github.com/Joao-Bonifacio" target="blank"><i class="fab fa-github" style="color: rgb(33, 20, 114);"></i> - Visitar perfil do github</a></p>
        <p><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSMTgbpsWbHmjmZpqrzdZsPfcMvsGNRVpqDnjHVjMSpCSLBlPNrZPzCRbCKLsfqsTwFclCpp" target="blank"><i class="far fa-envelope" style="color: rgb(184, 32, 32);"></i> - Enviar email</a></p>
    </div>
</body>
