<%- include('src/header.html') %>
<body>
    <main class="hot_news">
        <div class="title_hot center"><h2>Hot News</h2></div>
        <div class="main_new">
            <div class="filter"></div>
            <div class="description">
                <a href="<%= posts[1].slug %>"><h2><%= posts[1].title %></h2></a>
                <p><%- posts[1].content.substr(0,200) %>...</p>
            </div>
            <img src="<%= posts[1].image %>" alt="eren">
        </div>
    </main>

    <main class="more">
        <div class="new-content">
            <h1 class="center more-title">More News</h1>
            <div class="more-container">
    
                <div class="last flex">
                    <% for(let i = 1;posts.lenght;i++){ %>
                        <div class="last-single">
                            <img src="<%= posts[i].image %>" alt="<%= posts[i].title %>">
                            <h3><%= posts[i].category %></h3>
                            <h2><a href="<%= posts[0].slug %>"><%= posts[i].title %></a></h2>
                            <p><%- posts[i].content.substr(0,100) %>...</p>
                        </div>
                    <% } %>
                </div>

                <div class="top">
                    <h3>More read</h3>
                    <div class="top-content">
                        <% for(let i = 0;posts.lenght;i++){ %>
                            <div>
                                <img class="small" src="<%= posts[i].image %>" alt="picture">
                                <p><%= posts[i].title %><br><%- posts[i].content.substr(0,100) %>...</p>
                            </div>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>
    </main>
</body>
<%- include('src/footer.html') %>