<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <title>NewsLetter</title>
</head>
<body>
    <header>
        <!--adicionar menu, titulo e signin-->
        <div>
            <h1><span style="font-weight: lighter;">John</span>News</h1>
            <div class="flex head-content">
                <div class="pages flex">
                    <div style="border-bottom: 3px solid #6F92AB;">home</div>
                    <div>category</div>
                    <div>home</div>
                    <div>contact</div>
                </div>
                <div class="search"><i class="fas fa-search"></i><input type="text" placeholder="seach"></div>
            </div>
        </div>
    </header>

    <section class="hot_news">
        <div class="title_hot"><h2>Hot News</h2></div>
        <div class="main_new">
            <div class="filter"></div>
            <div class="description">
                <h2>O paradoxo criado pelo eren</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis pariatur eius assumenda consequuntur sit, non est aliquid. Animi beatae dolore magnam debitis maiores quae quia error itaque asperiores eos.</p>
            </div>
            <img src="/public/img/eren.jpg" alt="eren">
        </div>
    </section>
</body>
</html>