<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Hi</title>
</head>
<body>
    <header>
        <!--adicionar menu, titulo e signin-->
        <div>
            <h1>Título</h1>
            <div class="flex">
                <div class="pages flex">
                    <div style="border-bottom: 3px solid #6F92AB;">home</div>
                    <div>category</div>
                    <div>home</div>
                    <div>contact</div>
                </div>
                <div class="day"><span>incluir data e hora</span></div>
            </div>
        </div>
    </header>
</body>
</html>