<%- include('src/header.html') %>
<body>
    <main class="hot_news">
        <div class="title_hot center"><h2>Hot News</h2></div>
        <div class="main_new">
            <div class="filter"></div>
            <div class="description">
                <h2>The paradox created by eren</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro reiciendis pariatur eius assumenda consequuntur sit, non est aliquid.</p>
            </div>
            <img src="/public/img/eren.jpg" alt="eren">
        </div>
    </main>

    <main class="more">
        <div class="new-content">
            <h1 class="center more-title">More News</h1>
            <div class="more-container flex">
    
                <div class="last flex">
                    <div class="last-single">
                        <img src="/public/img/software.jfif" alt="...">
                        <h3>Category</h3>
                        <h2>Description</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iste quasi optio eos? Fugiat libero aperiam eaque a dicta ad! Porro.</p>
                    </div>
                    <div class="last-single">
                        <img src="/public/img/software.jfif" alt="...">
                        <h3>Category</h3>
                        <h2>Description</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iste quasi optio eos? Fugiat libero aperiam eaque a dicta ad! Porro.</p>
                    </div>
                    <div class="last-single">
                        <img src="/public/img/software.jfif" alt="software">
                        <h3>Category</h3>
                        <h2>Description</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iste quasi optio eos? Fugiat libero aperiam eaque a dicta ad! Porro.</p>
                    </div>
                    <div class="last-single">
                        <img src="/public/img/software.jfif" alt="software">
                        <h3>Category</h3>
                        <h2>Description</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iste quasi optio eos? Fugiat libero aperiam eaque a dicta ad! Porro.</p>
                    </div>
                </div>
                <div class="top">
                    <h3>More read</h3>
                    <div class="top-content">
                        <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>title<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                        <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>title<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                        <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>title<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                        <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>title<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                        <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>title<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('src/footer.html') %>