<%- include('src/header.html') %>
<h2 class="count">Search: <%= count %> results</h2>
<main class="main-find">
    
    <div class="find-content">
        <div class="flex">
            <% for(let i = 0; i < posts.length; i++) { %>
            <div class="find-single flex">
                <a class="find-img" href="<%= posts[i].slug %>">
                    <div>
                        <img src="<%= posts[i].image %>">
                    </div>
                </a>
                <div class="find-description">
                    <h4 style="font-size: 20px;margin-top:12px"><a href="<%= posts[i].slug %>"><%= posts[i].title %></a></h4>
                    <p><span style="color: gray;"><%= posts[i].category %></span><br><%- posts[i].content.substr(0,200) %>...</p>
                </div>
            </div>
            <% } %>
            <div class="ad flex">
                <div>for ads</div>
                <div>for ads</div>
            </div>
        </div>
        </div>
    </div>

    <div class="top top-single">
    <h3>More read</h3>
    <div class="top-content">
        <% let u=0;while(u<4){ %>
            <div>
                <img class="small" src="<%= postsTop[u].image %>" alt="<%= postsTop[u].title %>">
                <p><a href="<%= postsTop[u].slug %>" style="font-weight: bold;font-size: 18px;color: rgb(78, 146, 209);"><%= postsTop[u].title %></a><br><span style="color: gray;"><%= postsTop[u].category %></span><br><%= postsTop[u].content.substr(0,100) %>...</p>
            </div>
        <% u++} %>
    </div>

</main>
<%- include('src/footer.html') %>