<%- include('src/header.html') %>
<body>
    <main class="new flex">
        
            <div class="new-single">
                <h2 class="center">New title</h2>
                <div class="author">
                    <span>By João Bonifácio</span>
                </div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatibus voluptatum numquam sapiente sint eveniet. Deserunt quae vitae autem tempore aspernatur hic, nesciunt, repellat optio veritatis, iure reiciendis odit unde?Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolores, deserunt dolore ipsa voluptatum aspernatur accusamus recusandae nulla modi ullam voluptatem amet nam animi. Rem expedita aspernatur temporibus reprehenderit itaque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae velit perferendis a maxime, officia quasi rem, exercitationem voluptatum consequuntur reprehenderit voluptas, alias numquam! Ipsam quidem accusantium est illo, id iure! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, magni commodi dolorum sit labore reprehenderit at facere ab. Velit at quo soluta praesentium mollitia deserunt tenetur expedita debitis eligendi inventore.</p>

                    <div class="new-img">
                      <img src="../public/img/software.jfif" alt="">
                    </div>

                    <h3>Quem é um desenvolvedor Full Stack?</h3>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A dignissimos fugit exercitationem beatae ea minima cumque modi, accusamus cupiditate quisquam perferendis, ratione repudiandae neque reiciendis odio doloribus animi at expedita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quod! Ea est exercitationem excepturi esse similique ad, eum ut reiciendis repellat culpa in ullam earum! Cupiditate quisquam veritatis ea dolor! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga excepturi ipsa laudantium! Impedit totam magni perferendis nihil deserunt molestiae dolorum doloremque voluptatem quam neque. Perferendis labore quae sequi tenetur quos? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem dolores optio nam ut ducimus? Laborum aliquid aperiam praesentium nam repellendus repellat dolor ullam, exercitationem veritatis sint. Velit temporibus ut non!</p>
                    <tag></tag>
            </div>
            <div class="top top-single">
                <h3>More read</h3>
                <div class="top-content">
                    <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                    <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                    <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                    <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                    <div><img class="small" src="/public/img/small.jfif" alt="picture"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
                </div>
            </div>
    </main>
</body>
<%- include('src/footer.html') %>