<%- include('src/header.html') %>
<body>
    <main class="new">
        
            <div class="new-single">
                <h2 class="center"><%- letter.title %></h2>
                <div class="author">
                    <span><%- letter.author %></span>
                </div>
                <div class="single-letter"><img src="<%= letter.image%>" alt=""></div>
                    <p><%- letter.content %></p>
                    <div class="ad flex">
                        <div>ADS</div>
                        <div>ADS</div>
                    </div>
            </div>
            <div class="top top-single">
                <h3>More read</h3>
                <div class="top-content">
                    <% let u=0;while(u<4){ %>
                        <div>
                            <img class="small" src="<%= postsTop[u].image %>" alt="<%= postsTop[u].title %>">
                            <p><a href="<%= postsTop[u].slug %>" style="font-weight: bold;font-size: 18px;color: rgb(78, 146, 209);"><%= postsTop[u].title %></a><br><%= postsTop[u].content.substr(0,100) %>...</p>
                        </div>
                    <% u++} %>
                </div>
            </div>
            <div style="padding: 25px;"></div>
    </main>
</body>
<%- include('src/footer.html') %>