@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
.flex{display: flex;flex-wrap: wrap;}
.center{text-align: center;}
.now{
    border-bottom: 3px solid #6F92AB;
    background-color: #27333b;
    transition: 1.5s;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1c3f58;
    font-family: 'Roboto', sans-serif;
    max-width: 2000px;
    overflow: auto;
    overflow-x: hidden;
}
h1,h2,h3{
    color: #90BDDE;
    margin: 0;
}
a{text-decoration: none;color: #767880;}

/*header...*/
header{
    height: 110px;
    width: 100%;
    background-color: #31404B;
    color: #90BDDE;
    box-shadow: #31404B;
}
header a{
    text-decoration: none;
    color: #90BDDE;
}
header h1{
    background-color: #445561;
    padding: 12px;
}
header > div{
    box-shadow: 1px 1px black;
}
.head-content{
    height: 49px;
}
.pages{
    display: flex;
    font-size: 20px;
    width: 70%;
}
.pages > div{
    padding: 5px 30px;
    bottom: 2px;
    padding-top: 10px;
}
.mobile{
    font-size: 26px;
    padding: 9px;
    cursor: pointer;
    display: none;
}
.search{
    width: 30%;
    text-align: end;
    flex: 2;
    padding-top: 10px;
    padding-right: 22px;
}
.search input{
    position: relative;
    background-color: #445561;
    padding-right: 20px;
    padding: 4px;
    padding-left: 22px;
    border-radius: 12px;
    width: 110px;
    z-index: 1;
    color: white;
}
::placeholder{
    color: white;
    opacity: 0.5;
}
::-ms-input-placeholder{
    color: white;
    opacity: 0.5;
}
.search i{
    position: absolute;
    z-index: 2;
    padding-left: 5px;
    padding-top: 6px;
}

/*body...*/
.title_hot > h2{
    color: #90BDDE;
    background-color: #445561;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}
.main_new{
    position: relative;
    margin: auto;
    width: 65%;
    border-radius: 12px;
}
.main_new > img{
    width: 100%;
    border-radius: 12px;
}
.description{
    position: absolute;
    text-align: justify;
    bottom: 0;
    padding: 10px 20px;
    color: white;
    z-index: 2;
    max-width: 500px;
}
.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 12px;
}
.more{
    background-color: #355063;
}
.more>div{
    margin-left: 10px;
    margin-right: 10px;
}
.more-title{
    color: #90BDDE;
    background-color: #31404B;
    margin: 10px auto;
    margin-bottom: 0 !important;
    padding: 20px;
}
.more-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.last{
    margin: 15px 0;
    width: 60%;
}
.last-single{
    width: 33%;
    margin-left: 20px;
    background-color: #1b2241;
    border-radius: 5px;
    margin-bottom: 5px;
    min-width: 250px;
}
.last-single > img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    max-height: 200px;
    min-height: 100px;
}
.last-single h3{
    font-size: 15px;
}
.last-single > p,h2,h3{
    text-align: justify;
    color: white;
    padding: 5px 15px;
}
.last div{
    flex: auto;
}
.top{
    width: 35%;
    margin-left: 25px;
    margin-top: 15px;
    position: relative;
}
.small{
    display: inline-block;
    width: 130px;
    height: 100px;
    margin: 0;
}
.top p{
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 10px !important;
    text-align: justify;
    color: white;
    font-size: 13px;
}
.top > h3{
    padding: 5px;
    background-color: #5a50e3;
    border-radius: 10px  10px 0 0;
}
.top-content{
    width: 100%;
    background-color: #3e7297;
}
.top-content > div{
    background-color: #4247a9;
    height: 100px;
    margin-bottom: 5px;
}
/*footer*/
.footer{
    text-align: center;
    width: 100%;
    color: white;
}
.footer h3{
    text-align: center;
}
.footer > div{
    width: 50%;
}
.footer a{
    font-size: 30px;
    padding: 5px;
    padding-left: 15px;
    color: #141930;
}

/*paginas de noticias*/
.new{
    background-color: #4C5A7F;
    color: white;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
.new p{
    padding: 20px 40px;
    text-align: justify;
    margin: 0;
}
.new h3{
    padding: 10px 50px;
}
.new-single{
    width: 60%;
    padding-bottom: 50px;
}
.new-single > h2{
    padding: 45px 0;
    font-size: 30px;
}
.new-single p{
    text-indent: 30px;
}
.author{
    text-align: end;
    padding-right: 50px;
    padding-bottom: 15px;
}
.top-single{
    width: 30%;
    margin-top: 160px;
    margin-bottom: 20px;
}
.new-img, .new-img img{
    width: 360px;
    margin: 5px auto;
}
.single-letter{margin: 5px auto;text-align: center;}
.single-letter, .single-letter > img{
    padding: 0;
    width: 85%;
    max-width: 800px;
}
.ad{
    background-color: #828386;
    width: 85%;
    height: 200px;
    margin: 5px auto;
    text-align: center;
}
.ad > div{
    flex: 1;
}
/*pagina de busca*/
.main-find{
    display: flex;
    flex-wrap: wrap;
    background-color: #4C5A7F;
}
.main-find p{
    color: white;
}
.find-content{
    width: 60%;
}
.find-img{
    width: 35%;
    border-radius: 15px 0 0 15px;
    background-color: #1b2241;
}
.find-img img{
    max-width: 98%;
    border-radius: 15px 0 0 15px;
}
.find-single{
    padding: 2%;
}
.find-description{
    width: 60%;
    background-color: #1b2241;
    border-radius: 0 15px 15px 0;
}
.count{
    padding: 15px;
    background-color: #2b3a44;
}
/*pagina de contato*/
.contact{
    padding: 20px;
}
.contact i{
    font-size: 25px;
}
.contact a{
    color: white;
}
.contact p{
    background-color: gray;
    padding: 15px;
    width: 300px;
    border-radius: 15px;
}
/*menu mobile*/
.mobile{position: relative;}
.mobile-itens{
    transition: 1s;
    width: 120px;
    height: 150px;
    background-color: #445561a8;
    position: absolute;
}
.mobile-itens > div{
    padding: 8px 5px;
}
@media screen and (max-width: 1000px) {
    .last{
        width: 48%;
        margin: 1%;
    }
    .top{
        width: 48%;
    }
    .new,.main-find{
        display: block;
    }
    .new-single{
        width: 100%;
    }
    .top-single{
        width: 100%;
        margin: 0 auto;
    }
    .ad{
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 775px) {
    .more-container{
        margin: 20px auto;
        display: block;
    }
    .last{
        width: 100%;
        margin: 0 auto;
    }
    .last-single{
        width: 100%;
    }
    .top{
        width: 98%;
        margin: 0 auto;
        padding: 15px;
    }
    .search{
        width: 80%;
        padding: 10px;
        padding-right: 100px;
        text-align: end;
    }
    .pages{
        display: none;
    }
    .mobile{
        display: block;
    }
}