@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
.flex{display: flex;flex-wrap: wrap;}
.center{text-align: center;}
.now{
    border-bottom: 3px solid #6F92AB;
    background-color: #27333b;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #21455E;
    font-family: 'Roboto', sans-serif;
    max-width: 2000px;
    overflow: auto;
    overflow-x: hidden;
}
h1,h2,h3{
    color: #90BDDE;
    margin: 0;
}

/*header...*/
header{
    height: 110px;
    width: 100%;
    background-color: #31404B;
    color: #90BDDE;
    box-shadow: #31404B;
}
header h1{
    background-color: #445561;
    padding: 12px;
}
header > div{
    box-shadow: 1px 1px black;
}
.head-content{
    height: 49px;
}
.pages{
    display: flex;
    font-size: 20px;
    width: 70%;
}
.pages > div{
    padding: 5px 30px;
    bottom: 2px;
    padding-top: 10px;
}
.mobile{
    font-size: 26px;
    padding: 9px;
    cursor: pointer;
    display: none;
}
.search{
    width: 30%;
    text-align: end;
    flex: 2;
    padding-top: 10px;
    padding-right: 22px;
}
.search input{
    position: relative;
    background-color: #445561;
    padding-right: 20px;
    padding: 4px;
    padding-left: 22px;
    border-radius: 12px;
    width: 110px;
    z-index: 1;
    color: white;
}
::placeholder{
    color: white;
    opacity: 0.5;
}
::-ms-input-placeholder{
    color: white;
    opacity: 0.5;
}
.search i{
    position: absolute;
    z-index: 2;
    padding-left: 5px;
    padding-top: 6px;
}

/*body...*/
.title_hot > h2{
    color: #90BDDE;
    background-color: #445561;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
}
.main_new{
    position: relative;
    margin: auto;
    width: 65%;
    border-radius: 12px;
}
.main_new > img{
    width: 100%;
    border-radius: 12px;
}
.description{
    position: absolute;
    text-align: justify;
    bottom: 0;
    padding: 10px 20px;
    color: white;
    z-index: 2;
    max-width: 500px;
}
.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 12px;
}
.more{
    background-color: #355063;
}
.more>div{
    margin-left: 10px;
    margin-right: 10px;
}
.more-title{
    color: #90BDDE;
    background-color: #31404B;
    margin: 10px auto;
    margin-bottom: 0 !important;
    padding: 20px;
}
.more-container{
    width: 80%;
    transform: translateX(7%);
}
.last{
    margin: 15px 0;
    flex: 1;
}
.last-single{
    width: 33%;
    margin-left: 20px;
    background-color: #1b2241;
    border-radius: 5px;
    margin-bottom: 5px;
    min-width: 250px;
}
.last-single > img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.last-single h3{
    font-size: 15px;
}
.last-single > p,h2,h3{
    text-align: justify;
    color: white;
    padding: 5px 15px;
}
.last div{
    flex: auto;
}
.top{
    width: 38%;
    margin-left: 25px;
    margin-top: 15px;
    position: relative;
}
.top img{
    display: inline-block;
    width: 100px;
    margin: 0;
}
.top p{
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 10px;
    text-align: justify;
    color: white;
    font-size: 20px;
}
.top > h3{
    padding: 5px;
    background-color: #5a50e3;
    border-radius: 10px  10px 0 0;
}
.top-content{
    width: 100%;
    background-color: #21455E;
}
.top-content > div{
    background-color: #1b2241;
    height: 100px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1020px) {
    .last{
        width: 50%;
        margin: 5px;
    }
    .top{
        width: 50%;
    }
}
@media screen and (max-width: 775px) {
    .more{
        width: 99%;
        margin: 0 auto;
        margin: 5px;
    }
    .top{
        width: 100%;
        margin-bottom: 50px;
    }
    .search{
        width: 80%;
        padding: 10px;
        padding-right: 100px;
        text-align: end;
    }
    .pages{
        display: none;
    }
    .mobile{
        display: block;
    }
}