@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #21455E;
    font-family: 'Roboto', sans-serif;
    max-width: 2000px;
}
/*header...*/
header{
    height: 150px;
    width: 100%;
    background-color: #31404B;
    color: #90BDDE;
}
header h1{
    background-color: #445561;
    margin: 0;
    padding: 12px;
    text-align: center;
    transform: translateY(30px);
}
.head-content{
    transform: translateY(52px);
}
.pages{
    font-size: 20px;
    width: 50%;
    flex: 1;
}
.pages > div{
    padding: 5px 30px;
}
.search{
    width: 50%;
    text-align: end;
    flex: 2;
}
.search input{
    position: relative;
    background-color: #445561;
    margin-right: 30px;
    padding: 4px;
    padding-left: 22px;
    border-radius: 12px;
    width: 120px;
    z-index: 1;
    color: white;
}
::placeholder{
    color: white;
    opacity: 0.5;
}
::-ms-input-placeholder{
    color: white;
    opacity: 0.5;
}
.search i{
    position: absolute;
    z-index: 2;
    padding-left: 5px;
    padding-top: 6px;
}
/*...header*/
/*body...*/
.title_hot{
    color: #90BDDE;
    text-align: center;
    background-color: #445561;
    margin: 10px auto;
    padding: 20px;
}
.title_hot h2{
    margin: 0;
}
.main_new{
    position: relative;
    margin: auto;
    width: 980px;
    border-radius: 12px;
}
.main_new > img{
    width: 100%;
    border-radius: 12px;
}
.description{
    position: absolute;
    text-align: justify;
    bottom: 0;
    padding: 15px;
    color: white;
    z-index: 2;
}
.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 12px;
}
/*...body*/
.flex{display: flex;}